html,
body {
    font-size: 10px;
    @include for-phone {
        font-size: 7px;
    }
    @include for-tablet{
        font-size: 9px;
    }
}
/*body{
    height: 100%;
}*/
@-ms-viewport {
    width: device-width;
}

html {
    box-sizing: border-box;
   // position:relative; 
   // min-height:100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}